In [6]:
import numpy as np
last_mission_time = 37

# Example of hmm_array_data and last_mission_time, just to demonstrate
hmm_array = [0, np.float64(4.0), np.float64(3.0), np.float64(10.0),int(last_mission_time)]



# Print the result
print("HMM Array:", hmm_array)

HMM Array: [0, np.float64(4.0), np.float64(3.0), np.float64(10.0), 37]

In [46]:
# Robot 1

import pandas as pd
df1 = pd.read_csv('robot1.csv', usecols=[0, 1, 2, 3], header=None)  
# print(df1)
# print(df1)
df1

    0  1      2                3
0   x  y  index  remaining_steps
1   0  0      0               53
2   0  1      1               53
3   1  1      2               51
4   1  2      3               50
.. .. ..    ...              ...
61  4  3     55                4
62  4  4     56                3
63  3  4     57                2
64  3  3     58                1
65  2  3     59                0

[66 rows x 4 columns]

In [47]:
# Skip the first two rows
df1 = df1.iloc[2:]  
df1 = df1.reset_index(drop=True)
df1

    0  1   2   3
0   0  1   1  53
1   1  1   2  51
2   1  2   3  50
3   0  2   4  49
4   0  3   5  48
.. .. ..  ..  ..
59  4  3  55   4
60  4  4  56   3
61  3  4  57   2
62  3  3  58   1
63  2  3  59   0

[64 rows x 4 columns]

In [68]:
import pandas as pd
import random
import pandas as pd
import random

def generate_intervals(index):
    base = index * 10
    if random.random() < 0.7:  # 10% chance for 20, 30, or 50
        base += random.choice([10, 20, 30, 50])
    return base


df1[4] = df1.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
df1[5] = [(generate_intervals(i)) for i in range(1, len(df1) + 1)]  # Column 5: 'interval'

df_transformed = df1[[4, 5, 3]]  # Select only the relevant columns (4: '(X, Y)', 5: 'interval', 3: 'remaining_steps')

# df_transformed.index += 1

# print(df_transformed.to_string(index=False, header=False))
df_transformed
df_transformed.to_csv('formatted_robot1.csv')
df_transformed.columns = df_transformed.iloc[0]
df_transformed = df_transformed.drop(0).reset_index(drop=True)
df_transformed

0   (0, 1)   10  53
0   (1, 1)   20  51
1   (1, 2)   50  50
2   (0, 2)   70  49
3   (0, 3)   50  48
4   (0, 2)   80  47
..     ...  ...  ..
58  (4, 3)  620   4
59  (4, 4)  620   3
60  (3, 4)  640   2
61  (3, 3)  650   1
62  (2, 3)  690   0

[63 rows x 3 columns]

In [66]:
# Robot 1

import pandas as pd
dft = pd.read_csv('robot_data_10 1.csv')  # No headers assumed
# print(df1)
# print(df1)
dft

     (4, 3)    10  48  470
0    (4, 2)    20  47  460
1    (4, 1)    30  46  450
2    (3, 1)    40  49  480
3    (2, 1)    50  52  510
4    (1, 1)    60  55  620
..      ...   ...  ..  ...
211  (5, 4)  2440   4   40
212  (5, 3)  2450   3   30
213  (5, 3)  2450   2   20
214  (5, 2)  2460   1   10
215  (5, 1)  2470   0    0

[216 rows x 4 columns]

In [70]:
# one function that does it all
import pandas as pd
import random

def process_robot_data(input_path, output_path):
    # Read the data from the CSV file without headers
    df1 = pd.read_csv(input_path, usecols=[0, 1, 2, 3], header=None)

    df1 = df1.iloc[2:].reset_index(drop=True)

    def generate_intervals(index):
        base = index * 10
        if random.random() < 0.8:  # 70% chance for 10, 20, 30, or 50
            base += random.choice([10, 20, 30, 50])
        return base

    df1[4] = df1.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
    df1[5] = [(generate_intervals(i)) for i in range(1, len(df1) + 1)]  # Column 5: 'interval'

    df_transformed = df1[[4, 5, 3]]

    df_transformed.columns = df_transformed.iloc[0]
    df_transformed = df_transformed.drop(0).reset_index(drop=True)

    display(df_transformed)

    df_transformed.to_csv(output_path, index=False, header=False)

In [1]:
# import pandas as pd
# import random

# def process_robot_data(input_path, output_path):
#     # Read the data from the CSV file without headers
#     df1 = pd.read_csv(input_path, usecols=[0, 1, 2, 3], header=None)

#     df1 = df1.iloc[2:].reset_index(drop=True)

#     def generate_intervals(index):
#         base = index * 10
#         if random.random() < 0.8:  # 70% chance for 10, 20, 30, or 50
#             base += random.choice([10, 20, 30, 50])
#         return base

#     df1[0] = df1[0].astype(float)
#     df1[1] = df1[1].astype(float)
#     df1[2] = df1[2].astype(float)
#     df1[3] = df1[3].astype(float)

#     df1[4] = df1.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
#     df1[5] = [(generate_intervals(i)) for i in range(1, len(df1) + 1)]  # Column 5: 'interval'

#     df_transformed = df1[[4, 5, 3]]

#     df_transformed.columns = df_transformed.iloc[0]
#     df_transformed = df_transformed.drop(0).reset_index(drop=True)

#     display(df_transformed)

#     df_transformed.to_csv(output_path, index=False, header=False)

In [72]:
process_robot_data('robot1.csv', 'formatted_robot1.csv')
#wrong output, old data from Jiming, format error

0   (0, 1)   20  53
0   (1, 1)   50  51
1   (1, 2)   50  50
2   (0, 2)   60  49
3   (0, 3)  100  48
4   (0, 2)   80  47
..     ...  ...  ..
58  (4, 3)  610   4
59  (4, 4)  630   3
60  (3, 4)  650   2
61  (3, 3)  680   1
0   (0, 1)   30  53
0   (1, 1)   70  51
1   (1, 2)   80  50
2   (0, 2)   90  49
3   (0, 3)   80  48
4   (0, 2)   80  47
..     ...  ...  ..
58  (4, 3)  650   4
59  (4, 4)  640   3
60  (3, 4)  620   2
61  (3, 3)  660   1
62  (2, 3)  670   0

[63 rows x 3 columns]

In [73]:
process_robot_data('robot2.csv', 'formatted_robot2.csv')

0   (5, 3)   10  49
0   (5, 3)   50  49
1   (5, 3)   50  49
2   (5, 4)   70  48
3   (5, 5)   50  47
4   (5, 4)   90  46
..     ...  ...  ..
60  (4, 3)  640   4
61  (4, 4)  640   3
62  (3, 4)  640   2
63  (3, 3)  660   1
64  (2, 3)  670   0

[65 rows x 3 columns]

In [74]:
process_robot_data('robot3.csv', 'formatted_robot3.csv')

0   (0, 3)   20  48
0   (0, 2)   40  47
1   (1, 2)   50  46
2   (1, 1)   50  45
3   (2, 1)   50  44
4   (1, 1)   70  49
5   (1, 2)  120  48
6   (1, 3)  100  47
7   (1, 4)  110  46
8   (1, 5)  120  51
9   (2, 5)  160  50
10  (3, 5)  130  49
11  (4, 5)  160  46
12  (4, 4)  150  45
13  (3, 4)  180  44
14  (3, 3)  210  43
15  (2, 3)  200  42
16  (3, 3)  210  41
17  (3, 4)  190  40
18  (3, 4)  210  40
19  (3, 4)  260  40
20  (4, 4)  220  43
21  (4, 3)  260  42
22  (4, 2)  290  45
23  (5, 2)  260  44
24  (5, 1)  290  43
25  (5, 0)  320  42
26  (5, 1)  290  41
27  (5, 2)  290  40
28  (5, 2)  320  40
29  (5, 2)  310  40
30  (4, 2)  350  35
31  (4, 3)  380  34
32  (4, 4)  370  33
33  (3, 4)  400  32
34  (3, 3)  410  31
35  (2, 3)  420  30
36  (3, 3)  390  29
37  (3, 4)  440  28
38  (3, 5)  420  27
39  (2, 5)  410  26
40  (1, 5)  470  25
41  (1, 4)  450  24
42  (1, 4)  440  24
43  (1, 5)  450  15
44  (2, 5)  470  14
45  (3, 5)  520  13
46  (4, 5)  490  12
47  (4, 4)  520  11
48  (4, 3)  550  10
49  (5, 3)  560   9
50  (5, 4)  520   8
51  (5, 5)  530   7
52  (5, 4)  560   6
53  (5, 3)  580   5
54  (4, 3)  610   4
55  (4, 4)  600   3
56  (3, 4)  600   2
57  (3, 3)  620   1
58  (2, 3)  620   0

In [6]:
import pandas as pd

# Load the dataset (use your correct file path)
df = pd.read_csv('formatted_robot1.csv', header=None)
df
# # Extract the first column (which contains the coordinates like (0, 1), (1, 2), etc.)
# coordinates = df[0]

# # Convert the coordinates from string to tuple
# coordinates = coordinates.apply(eval)

# # Find the largest (x, y) values based on the x-coordinate
# largest_x_y = coordinates[coordinates.idxmax()]  # Get the row with the maximum x

# print(f"Largest (x, y) based on column 1: {largest_x_y}")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 3

In [27]:
# # df1['(X, Y)'] = df1.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Use columns 0 and 1
# # df1['interval'] = df1[2] * 1  # Use column 2 as the index equivalent
# # df_transformed = df1[['(X, Y)', 'interval', 3]]  # Use column 3 for 'remaining_steps'
# # df_transformed.index += 1  # Adjust index to start from 1
# df_transformed['interval']= df_transformed['interval'] *10
# df_transformed

/tmp/ipykernel_3900/2026517626.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transformed['interval']= df_transformed['interval'] *10

    (X, Y)              interval   3
2   (0, 1)            1111111111  53
3   (1, 1)            2222222222  51
4   (1, 2)            3333333333  50
5   (0, 2)            4444444444  49
6   (0, 3)            5555555555  48
..     ...                   ...  ..
61  (4, 3)  55555555555555555555   4
62  (4, 4)  56565656565656565656   3
63  (3, 4)  57575757575757575757   2
64  (3, 3)  58585858585858585858   1
65  (2, 3)  59595959595959595959   0

[64 rows x 3 columns]

(1.0, 2.0) 10 10
(3.0, 4.0) 20 20
(5.0, 6.0) 30 30
(7.0, 8.0) 40 40

In [32]:
df_transformed

       (X, Y)  interval   3
1  (1.0, 2.0)        10  10
2  (3.0, 4.0)        20  20
3  (5.0, 6.0)        30  30
4  (7.0, 8.0)        40  40

# HMM Selection code testing

## Extract relevant data from JSON for communicatioin framework

In [59]:
import json

# Load JSON data
input_path = "/home/maverick/LMCO/tmm-mas/ui/Temp_UI/robot_jsons/robot_data_1.json"
with open(input_path, "r") as file:
    data = json.load(file)

# # Extract simulator time
# simulator_time = data["simulator time"]

# # Processed data storage
# processed_data = {}

# # Process each robot
# for robot_id, robot_info in data["robots"].items():
#     # Use plan directly as positions
#     positions = robot_info["plan"]  # Assuming the plan already includes the start point

#     # Create processed data with formatted structure
#     processed_data[robot_id] = [
#         {"formatted_pos": f"({pos})", "interval": simulator_time, "mission_time": robot_info["mission_time"]}
#         for pos in positions
#     ]

# aLL ROBOTS, pos data, simulator time, mission time. just get subset of JSON, skip plan, whatever data we need format. 
# index, (posx,posy), simualtor time, mission_time

# for all 3 robots. use number instead of robot name or string.

# integrate with that old df code.


def generate_hmm_arrays(data):
    """
    Processes robot data from JSON and generates HMM arrays.

    :param data: Raw JSON data.
    :return: Dictionary containing processed data as generated_hmm_arrays.
    """
    if "simulator time" not in data or "robots" not in data:
        print("❌ Invalid data format!")
        return None

    simulator_time = data["simulator time"]
    generated_hmm_arrays = {}

    # Process each robot
    for robot_id, robot_info in data["robots"].items():
        positions = robot_info["plan"]  # Use 'plan' as the positions

        # Create processed data with formatted structure
        generated_hmm_arrays[robot_id] = [
            {
                "formatted_pos": f"({pos})", 
                "interval": simulator_time, 
                "mission_time": robot_info["mission_time"]
            }
            for pos in positions
        ]

    return generated_hmm_arrays



processed_hmm_arrays=generate_hmm_arrays(data)
processed_hmm_arrays

{'quad1': [{'formatted_pos': '([0, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76}],
 'quad2': [{'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80}],
 'quad3': [{'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,

In [70]:
def select_hmm_row(processed_data, robot_id, row_index):
    """
    Selects a specific row from processed robot data using the robot ID.

    :param processed_data: Dict containing processed robot data.
    :param robot_id: String robot ID (e.g., "quad1", "quad2").
    :param row_index: Index of the row to select.
    :return: The selected row dictionary or None if out of bounds or robot not found.
    """
    if robot_id not in processed_data:
        print(f"❌ Robot {robot_id} not found!")
        return None

    robot_data = processed_data[robot_id]

    # Check if the row_index is within the bounds of the data
    if row_index < 0 or row_index >= len(robot_data):
        print(f"❌ Row index {row_index} out of range for {robot_id}.")
        print(f"Robot data length: {len(robot_data)}")
        return None

    return robot_data[row_index]



robot_id= 'quad1'
current_index =1000

hmm_array_data_preformat  =  select_hmm_row(processed_hmm_arrays,str(robot_id), int(current_index))
hmm_array_data_preformat

❌ Row index 1000 out of range for quad1.
Robot data length: 78

In [73]:
hmm_array_data = [(0, 0), 0.008099555969238281, 76]  # Example data with no time value at index 3

# Flatten the tuple in hmm_array_data[0]
first_value = hmm_array_data[0][0]  # This accesses the second element of the tuple (0, 0)
first_value

0

In [74]:
second_value = hmm_array_data[0][1]  # This accesses the second element of the tuple (0, 0)
second_value

0

In [56]:
import json

# Load JSON data
input_path = "/home/maverick/LMCO/tmm-mas/ui/Temp_UI/robot_jsons/robot_data_1.json"
with open(input_path, "r") as file:
    data = json.load(file)

# Extract simulator time
simulator_time = data["simulator time"]

# Processed data storage
processed_data = {}

# Process each robot
for robot_id, robot_info in data["robots"].items():
    # Use plan directly as positions
    positions = robot_info["plan"]  # Assuming the plan already includes the start point

    # Create processed data with formatted structure
    processed_data[robot_id] = [
        {"formatted_pos": f"({pos})", "interval": simulator_time, "mission_time": robot_info["mission_time"]}
        for pos in positions
    ]

aLL ROBOTS, pos data, simulator time, mission time. just get subset of JSON, skip plan, whatever data we need format. 
index, (posx,posy), simualtor time, mission_time

for all 3 robots. use number instead of robot name or string.

integrate with that old df code.

# JSON

In [57]:
# import json

# # Load JSON data
# input_path = "/home/maverick/LMCO/tmm-mas/ui/Temp_UI/robot_jsons/robot_data_1.json"
# with open(input_path, "r") as file:
#     data = json.load(file)

# # Extract simulator time
# simulator_time = data["simulator time"]

# # Processed data storage
# processed_data = {}

# # Process each robot
# for robot_id, robot_info in data["robots"].items():
#     # Initialize positions list with first (x, y)
#     positions = [(robot_info["x"][0], robot_info["y"][1])]
#     positions = [(robot_info["x"][0], robot_info["y"][1])]

#     # Append remaining positions from the plan
#     positions.extend(robot_info["plan"])

#     # Create processed data with formatted structure
#     processed_data[robot_id] = [
#         {"formatted_pos": f"({pos[0]}, {pos[1]})", "interval": simulator_time, "mission_time": robot_info["mission_time"]}
#         for pos in positions
#     ]

# # Extract results for each robot
# processed_data_1 = processed_data.get("quad1", [])
# processed_data_2 = processed_data.get("quad2", [])
# processed_data_3 = processed_data.get("quad3", [])

# # Print results (optional)
# print("Processed Data 1:", processed_data_1)
# print("Processed Data 2:", processed_data_2)
# print("Processed Data 3:", processed_data_3)



import json

# Load JSON data
input_path = "/home/maverick/LMCO/tmm-mas/ui/Temp_UI/robot_jsons/robot_data_1.json"
with open(input_path, "r") as file:
    data = json.load(file)

# Extract simulator time
simulator_time = data["simulator time"]

# Processed data storage
processed_data = {}

# Process each robot
for robot_id, robot_info in data["robots"].items():
    # Use plan directly as positions
    positions = robot_info["plan"]  # Assuming the plan already includes the start point

    # Create processed data with formatted structure
    processed_data[robot_id] = [
        {"formatted_pos": f"({pos})", "interval": simulator_time, "mission_time": robot_info["mission_time"]}
        for pos in positions
    ]

def generate_hmm_arrays(data):
    """
    Processes robot data from JSON and generates HMM arrays.

    :param data: Raw JSON data.
    :return: Dictionary containing processed data as generated_hmm_arrays.
    """
    if "simulator time" not in data or "robots" not in data:
        print("❌ Invalid data format!")
        return None

    simulator_time = data["simulator time"]
    generated_hmm_arrays = {}

    # Process each robot
    for robot_id, robot_info in data["robots"].items():
        positions = robot_info["plan"]  # Use plan as positions

        # Create processed data with formatted structure
        generated_hmm_arrays[robot_id] = [
            {"formatted_pos": f"({pos})", "interval": simulator_time, "mission_time": robot_info["mission_time"]}
            for pos in positions
        ]

    return generated_hmm_arrays


# # Extract results for each robot
# processed_data_1 = processed_data.get("quad1", [])
# processed_data_2 = processed_data.get("quad2", [])
# processed_data_3 = processed_data.get("quad3", [])

# # Print results
# print("Processed Data 1:", processed_data_1)
# print("Processed Data 2:", processed_data_2)
# print("Processed Data 3:", processed_data_3)

In [54]:
processed_hmm_arrays=generate_hmm_arrays(data)
processed_hmm_arrays

{'quad1': [{'formatted_pos': '([0, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76}],
 'quad2': [{'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80}],
 'quad3': [{'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,

In [55]:
data

{'simulator time': 0.008099555969238281,
 'robots': {'quad1': {'plan': [[0, 0],
    [1, 0],
    [1, 1],
    [2, 1],
    [2, 0],
    [3, 0],
    [3, 0],
    [2, 0],
    [2, 1],
    [1, 1],
    [1, 2],
    [1, 2],
    [1, 1],
    [2, 1],
    [3, 1],
    [4, 1],
    [4, 1],
    [5, 1],
    [5, 2],
    [5, 2],
    [5, 3],
    [5, 3],
    [5, 4],
    [4, 4],
    [4, 4],
    [4, 3],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 3],
    [4, 3],
    [4, 3],
    [4, 4],
    [3, 4],
    [3, 4],
    [2, 4],
    [2, 4],
    [2, 5],
    [2, 5],
    [1, 5],
    [0, 5],
    [0, 5],
    [1, 5],
    [2, 5],
    [2, 5],
    [2, 4],
    [3, 4],
    [4, 4],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 3],
    [4, 3],
    [5, 3],
    [5, 2],
    [5, 1],
    [4, 1],
    [4, 1],
    [5, 1],
    [5, 2],
    [5, 3],
    [5, 4],
    [4, 4],
    [3, 4],
    [3, 5],
    [3, 5],
    [4, 5],
    [5, 5],
    [4, 5],
    [3, 5],
    [3, 4],
    [4, 4],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2]],
   'plan_index': 1,
   'immediate_goal': [1, 0],
   'x': [0, 0],
   'y': [0, 0],
   'mission_time': 76},
  'quad2': {'plan': [[3, 4],
    [3, 5],
    [3, 5],
    [3, 5],
    [4, 5],
    [5, 5],
    [5, 5],
    [4, 5],
    [3, 5],
    [3, 5],
    [3, 4],
    [4, 4],
    [4, 4],
    [5, 4],
    [5, 3],
    [5, 3],
    [5, 2],
    [5, 2],
    [5, 1],
    [4, 1],
    [4, 1],
    [3, 1],
    [2, 1],
    [1, 1],
    [1, 2],
    [1, 2],
    [1, 2],
    [1, 1],
    [2, 1],
    [3, 1],
    [4, 1],
    [4, 2],
    [4, 2],
    [4, 3],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 3],
    [4, 3],
    [5, 3],
    [5, 2],
    [5, 1],
    [4, 1],
    [4, 1],
    [3, 1],
    [2, 1],
    [2, 0],
    [3, 0],
    [3, 0],
    [2, 0],
    [2, 1],
    [3, 1],
    [4, 1],
    [5, 1],
    [5, 2],
    [5, 3],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 3],
    [4, 3],
    [4, 4],
    [3, 4],
    [2, 4],
    [2, 4],
    [2, 5],
    [2, 5],
    [1, 5],
    [0, 5],
    [1, 5],
    [2, 5],
    [2, 4],
    [3, 4],
    [4, 4],
    [4, 3],
    [3, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 2]],
   'plan_index': 1,
   'immediate_goal': [3, 5],
   'x': [3, 4],
   'y': [3, 4],
   'mission_time': 80},
  'quad3': {'plan': [[2, 0],
    [3, 0],
    [3, 0],
    [2, 0],
    [2, 1],
    [1, 1],
    [1, 2],
    [1, 2],
    [1, 1],
    [2, 1],
    [3, 1],
    [4, 1],
    [4, 1],
    [5, 1],
    [5, 2],
    [5, 2],
    [5, 3],
    [5, 3],
    [5, 4],
    [4, 4],
    [4, 4],
    [4, 3],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 3],
    [4, 3],
    [4, 3],
    [4, 4],
    [3, 4],
    [3, 4],
    [2, 4],
    [2, 4],
    [2, 5],
    [2, 5],
    [1, 5],
    [0, 5],
    [0, 5],
    [1, 5],
    [2, 5],
    [2, 5],
    [2, 4],
    [3, 4],
    [4, 4],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2],
    [3, 3],
    [4, 3],
    [5, 3],
    [5, 2],
    [5, 1],
    [4, 1],
    [4, 1],
    [5, 1],
    [5, 2],
    [5, 3],
    [5, 4],
    [4, 4],
    [3, 4],
    [3, 5],
    [3, 5],
    [4, 5],
    [5, 5],
    [4, 5],
    [3, 5],
    [3, 4],
    [4, 4],
    [4, 3],
    [3, 3],
    [3, 2],
    [3, 2]],
   'plan_index': 1,
   'immediate_goal': [3, 0],
   'x': [2, 0],
   'y': [2, 0],
   'mission_time': 72}}}

In [33]:
processed_data

{'quad1': [{'formatted_pos': '([0, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 76}],
 'quad2': [{'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 80}],
 'quad3': [{'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 0])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([0, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([1, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 5])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([2, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 4])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([3, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 3])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 2])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([5, 1])',
   'interval': 0.008099555969238281,
   'mission_time': 72},
  {'formatted_pos': '([4, 1])',
   'interval': 0.008099555969238281,

In [14]:
processed_data_1

[{'formatted_pos': '([0, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([0, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([0, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([1, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([5, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 76}]

In [15]:
processed_data_2

[{'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([0, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([1, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 80}]

In [16]:
processed_data_3

[{'formatted_pos': '([2, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 0])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([1, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([1, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([1, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([0, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([0, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([1, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([2, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 1])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([5, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 5])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 4])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([4, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 3])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72},
 {'formatted_pos': '([3, 2])',
  'interval': 0.008099555969238281,
  'mission_time': 72}]

In [46]:

import re

def select_hmm_row(processed_data, robot_number, row_index):
    """
    Selects a specific row from processed robot data using a numeric robot ID.

    :param processed_data: Dict containing processed robot data.
    :param robot_number: Integer robot ID (1, 2, 3).
    :param row_index: Index of the row to select.
    :return: The selected row dictionary.
    """
    robot_id = f"quad{robot_number}"  # Map 1 → quad1, 2 → quad2, etc.

    if robot_id not in processed_data:
        print(f"❌ Robot {robot_id} not found!")
        return None

    robot_data = processed_data[robot_id]

    if 0 <= row_index < len(robot_data):
        return robot_data[row_index]
    else:
        print(f"❌ Row index {row_index} out of range for {robot_id}.")
        return None


def create_hmm_array_reformat(row_data):
    """
    Extracts and formats 'formatted_pos', 'interval', and 'mission_time' into an HMM array.

    :param row_data: The dictionary row containing robot data.
    :return: List containing formatted values for HMM processing.
    """
    if not row_data:
        print("❌ Invalid row data provided!")
        return None

    # Extract numbers from formatted_pos (convert from string to tuple)
    pos_match = re.findall(r"-?\d+", row_data["formatted_pos"])  
    formatted_position = tuple(map(int, pos_match)) if pos_match else (None, None)

    # Store in list
    hmm_array = [formatted_position, row_data["interval"], row_data["mission_time"]]

    return hmm_array

In [48]:
row_2_robot = select_hmm_row(processed_data,1, row_index=0)
row_2_robot

{'formatted_pos': '([0, 0])',
 'interval': 0.008099555969238281,
 'mission_time': 76}

In [49]:
row_2_robot_hmm = create_hmm_array_reformat(row_2_robot)
row_2_robot_hmm

[(0, 0), 0.008099555969238281, 76]

In [44]:
# import re

# def create_rmm_array(processed_data, robot_number, row_index):
#     """
#     Fetches and formats a specific row of robot data into an RMM array.

#     :param processed_data: Dict containing processed robot data.
#     :param robot_number: Integer robot ID (1, 2, 3).
#     :param row_index: Index of the row to select.
#     :return: List containing formatted (x, y), interval, and mission_time as RMM array.
#     """
#     robot_id = f"quad{robot_number}"  # Convert number to quad ID

#     if robot_id not in processed_data:
#         print(f"❌ Robot {robot_id} not found!")
#         return None

#     robot_data = processed_data[robot_id]

#     if not (0 <= row_index < len(robot_data)):
#         print(f"❌ Row index {row_index} out of range for {robot_id}.")
#         return None

#     row_data = robot_data[row_index]

#     # Extract numbers from formatted_pos (convert from string to tuple)
#     pos_match = re.findall(r"-?\d+", row_data["formatted_pos"])  
#     formatted_position = tuple(map(int, pos_match)) if pos_match else (None, None)

#     # Create RMM array
#     rmm_array = [formatted_position, row_data["interval"], row_data["mission_time"]]

#     return rmm_array


import re

def create_rmm_array(data, robot_number, row_index):
    """
    Processes robot data and extracts a specific row into an RMM array.

    :param data: Raw JSON data.
    :param robot_number: Integer robot ID (1, 2, 3).
    :param row_index: Index of the row to select.
    :return: List containing formatted (x, y), interval, and mission_time as RMM array.
    """
    robot_id = f"quad{robot_number}"  # Convert number to quad ID

    if "simulator time" not in data or "robots" not in data:
        print("❌ Invalid data format!")
        return None

    if robot_id not in data["robots"]:
        print(f"❌ Robot {robot_id} not found!")
        return None

    robot_info = data["robots"][robot_id]
    simulator_time = data["simulator time"]

    # Process positions from plan
    positions = robot_info["plan"]  # Assuming plan includes the start point
    processed_data = [
        {"formatted_pos": f"({pos})", "interval": simulator_time, "mission_time": robot_info["mission_time"]}
        for pos in positions
    ]

    if not (0 <= row_index < len(processed_data)):
        print(f"❌ Row index {row_index} out of range for {robot_id}.")
        return None

    row_data = processed_data[row_index]

    # Extract numbers from formatted_pos (convert from string to tuple)
    pos_match = re.findall(r"-?\d+", row_data["formatted_pos"])  
    formatted_position = tuple(map(int, pos_match)) if pos_match else (None, None)

    # Create RMM array
    rmm_array = [formatted_position, row_data["interval"], row_data["mission_time"]]

    return rmm_array


robot_number = 1  # User inputs 1 for quad1
row_index = 1     # Select row 2

rmm_array = create_rmm_array(data, robot_number, row_index)

if rmm_array:
    print("Final RMM Array:", rmm_array)

Final RMM Array: [(1, 0), 0.008099555969238281, 76]

In [42]:
def create_rmm_array(data, robot_number):
    """
    Extracts (x[0], y[1]), simulator time, and mission time for a given robot.

    :param data: Raw JSON data.
    :param robot_number: Integer robot ID (1, 2, 3).
    :return: List containing [(x[0], y[1]), simulator_time, mission_time] as RMM array.
    """
    robot_id = f"quad{robot_number}"  # Convert number to quad ID

    if "simulator time" not in data or "robots" not in data:
        print("❌ Invalid data format!")
        return None

    if robot_id not in data["robots"]:
        print(f"❌ Robot {robot_id} not found!")
        return None

    robot_info = data["robots"][robot_id]
    simulator_time = data["simulator time"]

    # Extract first values of x and y
    x_val = robot_info["x"][0] if len(robot_info["x"]) > 0 else None
    y_val = robot_info["y"][1] if len(robot_info["y"]) > 1 else None
    mission_time = robot_info["mission_time"]

    # Create RMM array
    rmm_array = [(x_val, y_val), simulator_time, mission_time]

    return rmm_array

In [43]:
robot_number = 1  # User inputs 1 for quad1

rmm_array = create_rmm_array(data, robot_number)

if rmm_array:
    print("Final RMM Array:", rmm_array)

Final RMM Array: [(0, 0), 0.008099555969238281, 76]

In [ ]:
    hmm_pos1 = hmm_arrays[0][1]
    hmm_pos2 = hmm_arrays[0][2]
    rmm_pos1 = rmm_arrays[0][1]
    rmm_pos2 = rmm_arrays[0][2]
    hmm_time = hmm_arrays[0][3]
    rmm_time = rmm_arrays[0][3]

In [41]:
rmm_pos1 = rmm_array[0][0]  # First value (1)
rmm_pos2 = rmm_array[0][1]  # Second value (1)

print(rmm_pos1, rmm_pos2)  # Output: 1 1

1 1

In [17]:
def select_data(processed_data, robot_id, row_index=None, column_name=None):
    """
    Selects a specific row or column from processed robot data.

    :param processed_data: Dict containing processed robot data.
    :param robot_id: ID of the robot (e.g., "robot1").
    :param row_index: (Optional) Index of the row to select.
    :param column_name: (Optional) Name of the column to retrieve.
    :return: The selected row or column values.
    """
    if robot_id not in processed_data:
        print(f"❌ Robot {robot_id} not found!")
        return None

    robot_data = processed_data[robot_id]

    # If row index is specified, return the row
    if row_index is not None:
        if 0 <= row_index < len(robot_data):
            return robot_data[row_index]
        else:
            print(f"❌ Row index {row_index} out of range for {robot_id}.")
            return None

    # If column name is specified, return the column values
    if column_name is not None:
        if column_name in robot_data[0]:  # Check if the column exists
            return [row[column_name] for row in robot_data]
        else:
            print(f"❌ Column '{column_name}' not found in {robot_id}.")
            return None

    print("⚠️ Please provide either a row index or a column name.")
    return None

In [19]:
row_2_robot1 = select_data(processed_data, "quad1", row_index=2)
print(row_2_robot1)  # Output: {'formatted_pos': '(x, y)', 'interval': ..., 'mission_time': ...}

{'formatted_pos': '([1, 1])', 'interval': 0.008099555969238281, 'mission_time': 76}

In [25]:
formatted_positions = select_data(processed_data, "quad1", row_index=2)
print(formatted_positions)  # Output: ['(x1, y1)', '(x2, y2)', '(x3, y3)', ...]

{'formatted_pos': '([1, 1])', 'interval': 0.008099555969238281, 'mission_time': 76}

In [23]:
import re

# # Example data
# data = {
#     "formatted_pos": "([1, 1])",
#     "interval": 0.008099555969238281,
#     "mission_time": 76
# }




# Extract numbers from formatted_pos (convert from string to tuple)
pos_match = re.findall(r"-?\d+", formatted_positions["formatted_pos"])  # Handles negatives too
formatted_position = tuple(map(int, pos_match)) if pos_match else (None, None)

# Store in list
hmm_array = [formatted_position, formatted_positions["interval"], formatted_positions["mission_time"]]

# print(hmm_array)
hmm_array

[(1, 1), 0.008099555969238281, 76]

In [22]:
formatted_positions

{'formatted_pos': '([1, 1])',
 'interval': 0.008099555969238281,
 'mission_time': 76}

In [ ]:
def get_value(processed_data, robot_id, row_index, column_name):
    """
    Retrieves a specific value from processed robot data.

    :param processed_data: Dict containing processed robot data.
    :param robot_id: ID of the robot (e.g., "robot1").
    :param row_index: Index of the row.
    :param column_name: Name of the column to retrieve.
    :return: The value at the specified row and column.
    """
    if robot_id not in processed_data:
        print(f"❌ Robot {robot_id} not found!")
        return None

    robot_data = processed_data[robot_id]

    if not (0 <= row_index < len(robot_data)):
        print(f"❌ Row index {row_index} out of range for {robot_id}.")
        return None

    if column_name not in robot_data[row_index]:
        print(f"❌ Column '{column_name}' not found in {robot_id}.")
        return None

    return robot_data[row_index][column_name]

#### Takes full csv data from Harris, reads and generates HMM data points for comparison with robot states

In [54]:
import pandas as pd
import ast
import random

def process_robot_data(input_path, output_path):
    # Load the CSV as raw text to handle "replans" correctly
    with open(input_path, "r") as file:
        lines = file.readlines()

    # Extract headers
    headers = lines[0].strip().split(",")

    # Process only the first row of replans
    first_row = lines[1].strip().split(",", maxsplit=4)  # Ensures replans is read as one piece
    first_x, first_y, first_remaining_steps = int(first_row[0]), int(first_row[1]), int(first_row[3])
    first_replans_str = first_row[4] if len(first_row) > 4 else "[]"

    # Convert the "replans" string to a list of tuples
    try:
        first_replans_list = ast.literal_eval(first_replans_str)
    except (SyntaxError, ValueError):
        first_replans_list = []  # Default to empty if parsing fails

    # Create a DataFrame with x and y columns
    replans_df = pd.DataFrame(first_replans_list, columns=["x", "y"])

    # Insert the first row's x, y at the top
    first_row_df = pd.DataFrame([[first_x, first_y]], columns=["x", "y"])
    full_replans_df = pd.concat([first_row_df, replans_df], ignore_index=True)

    # Add formatted (x, y) column
    full_replans_df["formatted_pos"] = full_replans_df.apply(lambda row: f"({row['x']}, {row['y']})", axis=1)

    # Function to generate intervals
    def generate_intervals(index):
        base = index * 10
        if random.random() < 0.7:  # 70% chance for an increment
            base += random.choice([10, 20, 30, 50])
        return base

    # Add the 'interval' column as the last column
    full_replans_df["interval"] = [generate_intervals(i) for i in range(1, len(full_replans_df) + 1)]

    # Add the 'remaining_steps' column, keeping the first row’s remaining_steps value for all rows
    full_replans_df["remaining_steps"] = first_remaining_steps

    # Select only required columns: formatted_pos, interval, and remaining_steps
    final_df = full_replans_df[["formatted_pos", "interval", "remaining_steps"]]

    # Reformat headers
    final_df.columns = final_df.iloc[0]
    final_df = final_df.drop(0).reset_index(drop=True)

    # Save to CSV without headers and index
    final_df.to_csv(output_path, index=False, header=False)

    return final_df

# Example usage
output_path = "HMM_Robot1.csv"
processed_df = process_robot_data("robot1.csv", output_path)

# Display the result
display(processed_df)

0   (0, 0)   40  53
0   (0, 1)   30  53
1   (1, 1)   40  53
2   (1, 2)   70  53
3   (0, 2)   50  53
4   (0, 3)   60  53
5   (0, 2)  120  53
6   (1, 2)  110  53
7   (1, 1)  110  53
8   (2, 1)  100  53
9   (2, 2)  130  53
10  (2, 3)  150  53
11  (3, 3)  130  53
12  (3, 4)  160  53
13  (2, 4)  150  53
14  (1, 4)  210  53
15  (0, 4)  200  53
16  (0, 5)  200  53
17  (0, 4)  210  53
18  (1, 4)  220  53
19  (2, 4)  240  53
20  (3, 4)  230  53
21  (3, 3)  260  53
22  (2, 3)  270  53
23  (3, 3)  280  53
24  (3, 4)  260  53
25  (4, 4)  280  53
26  (4, 3)  310  53
27  (5, 3)  320  53
28  (5, 4)  330  53
29  (5, 5)  330  53
30  (5, 4)  320  53
31  (5, 3)  350  53
32  (4, 3)  390  53
33  (4, 4)  350  53
34  (3, 4)  370  53
35  (3, 3)  370  53
36  (2, 3)  380  53
37  (2, 2)  420  53
38  (2, 1)  450  53
39  (3, 1)  460  53
40  (4, 1)  430  53
41  (4, 2)  460  53
42  (5, 2)  440  53
43  (5, 1)  470  53
44  (5, 0)  470  53
45  (5, 1)  520  53
46  (5, 2)  530  53
47  (4, 2)  500  53
48  (4, 1)  530  53
49  (3, 1)  510  53
50  (2, 1)  550  53
51  (2, 2)  560  53
52  (2, 3)  560  53

In [27]:
# Robot 1

import pandas as pd
df1 = pd.read_csv('robot1.csv', usecols=[0, 1, 2, 3], header=None)  
# df1 = pd.read_csv('robot1.csv', usecols=[0, 1, 2, 3], header=None)  
# print(df1)
# print(df1)
# df1

df1 = df1.iloc[2:].reset_index(drop=True)
df1

    0  1   2   3
0   0  1   1  53
1   1  1   2  51
2   1  2   3  50
3   0  2   4  49
4   0  3   5  48
.. .. ..  ..  ..
59  4  3  55   4
60  4  4  56   3
61  3  4  57   2
62  3  3  58   1
63  2  3  59   0

[64 rows x 4 columns]

In [39]:
import pandas as pd
import ast

# Load the CSV as raw text to handle "replans" correctly
file_path = "robot1.csv"  # Update with the correct file path

# Read the file line by line
with open(file_path, "r") as file:
    lines = file.readlines()

# Extract headers
headers = lines[0].strip().split(",")

# Process only the first row of replans
first_row = lines[1].strip().split(",", maxsplit=4)  # Ensures replans is read as one piece
first_replans_str = first_row[4] if len(first_row) > 4 else "[]"

# Convert the "replans" string to a list of tuples
try:
    first_replans_list = ast.literal_eval(first_replans_str)
except (SyntaxError, ValueError):
    first_replans_list = []  # Default to empty if parsing fails

# Create a DataFrame with x and y columns
replans_df = pd.DataFrame(first_replans_list, columns=["x", "y"])

# # Save the extracted replans data
# replans_df.to_csv("first_row_replans.csv", index=False)

# # Display full extracted replans dataset
# print("Extracted replans data from the first row saved as 'first_row_replans.csv'.")
# print(replans_df)  # Print all rows


replans_df

    x  y
0   0  1
1   1  1
2   1  2
3   0  2
4   0  3
5   0  2
6   1  2
7   1  1
8   2  1
9   2  2
10  2  3
11  3  3
12  3  4
13  2  4
14  1  4
15  0  4
16  0  5
17  0  4
18  1  4
19  2  4
20  3  4
21  3  3
22  2  3
23  3  3
24  3  4
25  4  4
26  4  3
27  5  3
28  5  4
29  5  5
30  5  4
31  5  3
32  4  3
33  4  4
34  3  4
35  3  3
36  2  3
37  2  2
38  2  1
39  3  1
40  4  1
41  4  2
42  5  2
43  5  1
44  5  0
45  5  1
46  5  2
47  4  2
48  4  1
49  3  1
50  2  1
51  2  2
52  2  3

In [40]:
def generate_intervals(index):
    base = index * 10
    if random.random() < 0.7:  # 10% chance for 20, 30, or 50
        base += random.choice([10, 20, 30, 50])
    return base


# replans_df
replans_df[2] = replans_df.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
replans_df

# replans_df[3] = [(generate_intervals(i)) for i in range(1, len(replans_df) + 1)]  # Column 5: 'interval'


# replans_df[4] = replans_df.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
# replans_df[5] = [(generate_intervals(i)) for i in range(1, len(replans_df) + 1)]  # Column 5: 'interval'

# df_transformed = replans_df[[4, 5]]  # Select only the relevant columns (4: '(X, Y)', 5: 'interval', 3: 'remaining_steps')
# # df_transformed = replans_df[[4, 5, 3]]  # Select only the relevant columns (4: '(X, Y)', 5: 'interval', 3: 'remaining_steps')
# df_transformed

/tmp/ipykernel_6521/2270011880.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  replans_df[2] = replans_df.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'

    x  y       2
0   0  1  (0, 1)
1   1  1  (1, 1)
2   1  2  (1, 2)
3   0  2  (0, 2)
4   0  3  (0, 3)
5   0  2  (0, 2)
6   1  2  (1, 2)
7   1  1  (1, 1)
8   2  1  (2, 1)
9   2  2  (2, 2)
10  2  3  (2, 3)
11  3  3  (3, 3)
12  3  4  (3, 4)
13  2  4  (2, 4)
14  1  4  (1, 4)
15  0  4  (0, 4)
16  0  5  (0, 5)
17  0  4  (0, 4)
18  1  4  (1, 4)
19  2  4  (2, 4)
20  3  4  (3, 4)
21  3  3  (3, 3)
22  2  3  (2, 3)
23  3  3  (3, 3)
24  3  4  (3, 4)
25  4  4  (4, 4)
26  4  3  (4, 3)
27  5  3  (5, 3)
28  5  4  (5, 4)
29  5  5  (5, 5)
30  5  4  (5, 4)
31  5  3  (5, 3)
32  4  3  (4, 3)
33  4  4  (4, 4)
34  3  4  (3, 4)
35  3  3  (3, 3)
36  2  3  (2, 3)
37  2  2  (2, 2)
38  2  1  (2, 1)
39  3  1  (3, 1)
40  4  1  (4, 1)
41  4  2  (4, 2)
42  5  2  (5, 2)
43  5  1  (5, 1)
44  5  0  (5, 0)
45  5  1  (5, 1)
46  5  2  (5, 2)
47  4  2  (4, 2)
48  4  1  (4, 1)
49  3  1  (3, 1)
50  2  1  (2, 1)
51  2  2  (2, 2)
52  2  3  (2, 3)

In [41]:
import pandas as pd
import ast
import random

# Load the CSV as raw text to handle "replans" correctly
file_path = "robot1.csv"  # Update with the correct file path

# Read the file line by line
with open(file_path, "r") as file:
    lines = file.readlines()

# Extract headers
headers = lines[0].strip().split(",")

# Process only the first row of replans
first_row = lines[1].strip().split(",", maxsplit=4)  # Ensures replans is read as one piece
first_replans_str = first_row[4] if len(first_row) > 4 else "[]"

# Convert the "replans" string to a list of tuples
try:
    first_replans_list = ast.literal_eval(first_replans_str)
except (SyntaxError, ValueError):
    first_replans_list = []  # Default to empty if parsing fails

# Create a DataFrame with x and y columns
replans_df = pd.DataFrame(first_replans_list, columns=["x", "y"])

# Add formatted (x, y) column
replans_df["formatted_pos"] = replans_df.apply(lambda row: f"({row['x']}, {row['y']})", axis=1)

# Function to generate intervals
def generate_intervals(index):
    base = index * 10
    if random.random() < 0.7:  # 70% chance for an increment
        base += random.choice([10, 20, 30, 50])
    return base

# Add the 'interval' column as the last column
replans_df["interval"] = [generate_intervals(i) for i in range(1, len(replans_df) + 1)]

# Display the final DataFrame
replans_df

    x  y formatted  interval
0   0  1    (0, 1)        20
1   1  1    (1, 1)        30
2   1  2    (1, 2)        60
3   0  2    (0, 2)        60
4   0  3    (0, 3)        50
5   0  2    (0, 2)        70
6   1  2    (1, 2)        80
7   1  1    (1, 1)        80
8   2  1    (2, 1)       140
9   2  2    (2, 2)       150
10  2  3    (2, 3)       160
11  3  3    (3, 3)       170
12  3  4    (3, 4)       160
13  2  4    (2, 4)       190
14  1  4    (1, 4)       170
15  0  4    (0, 4)       170
16  0  5    (0, 5)       200
17  0  4    (0, 4)       180
18  1  4    (1, 4)       190
19  2  4    (2, 4)       220
20  3  4    (3, 4)       260
21  3  3    (3, 3)       240
22  2  3    (2, 3)       240
23  3  3    (3, 3)       240
24  3  4    (3, 4)       250
25  4  4    (4, 4)       260
26  4  3    (4, 3)       280
27  5  3    (5, 3)       280
28  5  4    (5, 4)       310
29  5  5    (5, 5)       310
30  5  4    (5, 4)       330
31  5  3    (5, 3)       370
32  4  3    (4, 3)       380
33  4  4    (4, 4)       340
34  3  4    (3, 4)       350
35  3  3    (3, 3)       360
36  2  3    (2, 3)       370
37  2  2    (2, 2)       410
38  2  1    (2, 1)       390
39  3  1    (3, 1)       400
40  4  1    (4, 1)       410
41  4  2    (4, 2)       420
42  5  2    (5, 2)       440
43  5  1    (5, 1)       440
44  5  0    (5, 0)       480
45  5  1    (5, 1)       490
46  5  2    (5, 2)       470
47  4  2    (4, 2)       510
48  4  1    (4, 1)       540
49  3  1    (3, 1)       510
50  2  1    (2, 1)       540
51  2  2    (2, 2)       520
52  2  3    (2, 3)       560

In [52]:
import pandas as pd
import ast
import random

# Load the CSV as raw text to handle "replans" correctly
file_path = "robot1.csv"  # Update with the correct file path

# Read the file line by line
with open(file_path, "r") as file:
    lines = file.readlines()

# Extract headers
headers = lines[0].strip().split(",")

# Process only the first row of replans
first_row = lines[1].strip().split(",", maxsplit=4)  # Ensures replans is read as one piece
first_x, first_y, first_remaining_steps = int(first_row[0]), int(first_row[1]), int(first_row[3])
first_replans_str = first_row[4] if len(first_row) > 4 else "[]"

# Convert the "replans" string to a list of tuples
try:
    first_replans_list = ast.literal_eval(first_replans_str)
except (SyntaxError, ValueError):
    first_replans_list = []  # Default to empty if parsing fails

# Create a DataFrame with x and y columns
replans_df = pd.DataFrame(first_replans_list, columns=["x", "y"])

# Insert the first row's x, y at the top
first_row_df = pd.DataFrame([[first_x, first_y]], columns=["x", "y"])
full_replans_df = pd.concat([first_row_df, replans_df], ignore_index=True)

# Add formatted (x, y) column
full_replans_df["formatted_pos"] = full_replans_df.apply(lambda row: f"({row['x']}, {row['y']})", axis=1)

# Function to generate intervals
def generate_intervals(index):
    base = index * 10
    if random.random() < 0.7:  # 70% chance for an increment
        base += random.choice([10, 20, 30, 50])
    return base

# Add the 'interval' column as the last column
full_replans_df["interval"] = [generate_intervals(i) for i in range(1, len(full_replans_df) + 1)]

# Add the 'remaining_steps' column, keeping the first row’s remaining_steps value for all rows
full_replans_df["remaining_steps"] = first_remaining_steps

# Display the final DataFrame
full_replans_df


# Select only required columns: formatted_pos, interval, and remaining_steps
final_df = full_replans_df[["formatted_pos", "interval", "remaining_steps"]]

# # Drop headers and index for output format
# final_df.to_csv("output.csv", index=False, header=False)

# # Display the result
# print(final_df.to_string(index=False, header=False))

# final_df



final_df.columns = final_df.iloc[0]

# final_df


final_df = final_df.drop(0).reset_index(drop=True)
# final_df
display(final_df)

final_df.to_csv(output_path, index=False, header=False)

    x  y formatted_pos  interval  remaining_steps
0   0  0        (0, 0)        10               53
1   0  1        (0, 1)        70               53
2   1  1        (1, 1)        30               53
3   1  2        (1, 2)        50               53
4   0  2        (0, 2)        80               53
5   0  3        (0, 3)        70               53
6   0  2        (0, 2)       120               53
7   1  2        (1, 2)       130               53
8   1  1        (1, 1)        90               53
9   2  1        (2, 1)       100               53
10  2  2        (2, 2)       130               53
11  2  3        (2, 3)       120               53
12  3  3        (3, 3)       150               53
13  3  4        (3, 4)       160               53
14  2  4        (2, 4)       150               53
15  1  4        (1, 4)       180               53
16  0  4        (0, 4)       220               53
17  0  5        (0, 5)       200               53
18  0  4        (0, 4)       210               53
19  1  4        (1, 4)       210               53
20  2  4        (2, 4)       210               53
21  3  4        (3, 4)       240               53
22  3  3        (3, 3)       230               53
23  2  3        (2, 3)       260               53
24  3  3        (3, 3)       270               53
25  3  4        (3, 4)       270               53
26  4  4        (4, 4)       320               53
27  4  3        (4, 3)       330               53
28  5  3        (5, 3)       310               53
29  5  4        (5, 4)       300               53
30  5  5        (5, 5)       310               53
31  5  4        (5, 4)       370               53
32  5  3        (5, 3)       350               53
33  4  3        (4, 3)       370               53
34  4  4        (4, 4)       400               53
35  3  4        (3, 4)       390               53
36  3  3        (3, 3)       370               53
37  2  3        (2, 3)       390               53
38  2  2        (2, 2)       420               53
39  2  1        (2, 1)       430               53
40  3  1        (3, 1)       440               53
41  4  1        (4, 1)       470               53
42  4  2        (4, 2)       460               53
43  5  2        (5, 2)       450               53
44  5  1        (5, 1)       480               53
45  5  0        (5, 0)       460               53
46  5  1        (5, 1)       470               53
47  5  2        (5, 2)       490               53
48  4  2        (4, 2)       490               53
49  4  1        (4, 1)       550               53
50  3  1        (3, 1)       520               53
51  2  1        (2, 1)       520               53
52  2  2        (2, 2)       530               53
53  2  3        (2, 3)       540               53

In [53]:
# Select only required columns: formatted_pos, interval, and remaining_steps
final_df = full_replans_df[["formatted_pos", "interval", "remaining_steps"]]

# # Drop headers and index for output format
# final_df.to_csv("output.csv", index=False, header=False)

# # Display the result
# print(final_df.to_string(index=False, header=False))

# final_df



final_df.columns = final_df.iloc[0]

# final_df


final_df = final_df.drop(0).reset_index(drop=True)
# final_df
display(final_df)

final_df.to_csv(output_path, index=False, header=False)

0   (0, 0)   10  53
0   (0, 1)   70  53
1   (1, 1)   30  53
2   (1, 2)   50  53
3   (0, 2)   80  53
4   (0, 3)   70  53
5   (0, 2)  120  53
6   (1, 2)  130  53
7   (1, 1)   90  53
8   (2, 1)  100  53
9   (2, 2)  130  53
10  (2, 3)  120  53
11  (3, 3)  150  53
12  (3, 4)  160  53
13  (2, 4)  150  53
14  (1, 4)  180  53
15  (0, 4)  220  53
16  (0, 5)  200  53
17  (0, 4)  210  53
18  (1, 4)  210  53
19  (2, 4)  210  53
20  (3, 4)  240  53
21  (3, 3)  230  53
22  (2, 3)  260  53
23  (3, 3)  270  53
24  (3, 4)  270  53
25  (4, 4)  320  53
26  (4, 3)  330  53
27  (5, 3)  310  53
28  (5, 4)  300  53
29  (5, 5)  310  53
30  (5, 4)  370  53
31  (5, 3)  350  53
32  (4, 3)  370  53
33  (4, 4)  400  53
34  (3, 4)  390  53
35  (3, 3)  370  53
36  (2, 3)  390  53
37  (2, 2)  420  53
38  (2, 1)  430  53
39  (3, 1)  440  53
40  (4, 1)  470  53
41  (4, 2)  460  53
42  (5, 2)  450  53
43  (5, 1)  480  53
44  (5, 0)  460  53
45  (5, 1)  470  53
46  (5, 2)  490  53
47  (4, 2)  490  53
48  (4, 1)  550  53
49  (3, 1)  520  53
50  (2, 1)  520  53
51  (2, 2)  530  53
52  (2, 3)  540  53

NameError: name 'output_path' is not defined

In [18]:
df1 = df1.iloc[2:].reset_index(drop=True)
df1

    0  1   2   3   4
0   0  1   1  53  []
1   1  1   2  51  []
2   1  2   3  50  []
3   0  2   4  49  []
4   0  3   5  48  []
.. .. ..  ..  ..  ..
59  4  3  55   4  []
60  4  4  56   3  []
61  3  4  57   2  []
62  3  3  58   1  []
63  2  3  59   0  []

[64 rows x 5 columns]

In [19]:
import pandas as pd
import random
import pandas as pd
import random

def generate_intervals(index):
    base = index * 10
    if random.random() < 0.7:  # 10% chance for 20, 30, or 50
        base += random.choice([10, 20, 30, 50])
    return base


df1[5] = df1.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
df1[6] = [(generate_intervals(i)) for i in range(1, len(df1) + 1)]  # Column 5: 'interval'
df1

    0  1   2   3   4       5    6
0   0  1   1  53  []  (0, 1)   20
1   1  1   2  51  []  (1, 1)   30
2   1  2   3  50  []  (1, 2)   60
3   0  2   4  49  []  (0, 2)   50
4   0  3   5  48  []  (0, 3)  100
.. .. ..  ..  ..  ..     ...  ...
59  4  3  55   4  []  (4, 3)  600
60  4  4  56   3  []  (4, 4)  660
61  3  4  57   2  []  (3, 4)  650
62  3  3  58   1  []  (3, 3)  680
63  2  3  59   0  []  (2, 3)  670

[64 rows x 7 columns]

In [ ]:

df_transformed = df1[[4, 5, 3]]  # Select only the relevant columns (4: '(X, Y)', 5: 'interval', 3: 'remaining_steps')

# df_transformed.index += 1

# print(df_transformed.to_string(index=False, header=False))
df_transformed
df_transformed.to_csv('formatted_robot1.csv')
df_transformed.columns = df_transformed.iloc[0]
df_transformed = df_transformed.drop(0).reset_index(drop=True)
df_transformed

In [ ]:
import pandas as pd
import random
import pandas as pd
import random

def generate_intervals(index):
    base = index * 10
    if random.random() < 0.7:  # 10% chance for 20, 30, or 50
        base += random.choice([10, 20, 30, 50])
    return base


df1[4] = df1.apply(lambda row: f"({row[0]}, {row[1]})", axis=1)  # Column 4: '(X, Y)'
df1[5] = [(generate_intervals(i)) for i in range(1, len(df1) + 1)]  # Column 5: 'interval'

df_transformed = df1[[4, 5, 3]]  # Select only the relevant columns (4: '(X, Y)', 5: 'interval', 3: 'remaining_steps')

# df_transformed.index += 1

# print(df_transformed.to_string(index=False, header=False))
df_transformed
# df_transformed.to_csv('formatted_robot1.csv')

In [ ]:
df_transformed.columns = df_transformed.iloc[0]
df_transformed = df_transformed.drop(0).reset_index(drop=True)
df_transformed